---
layout: default
---

<div class="home">

  <div class="banner">
    <div class="container">
      <h1>JACKSAY<span>.COM</span></h1>
      <div class="baseline">Cours et tutoriels pour développeur web</div>
    </div>
  </div>


  <section class="container">
    <header class="page-heading">
      <h1>Articles</h1>
    </header>
    {% for post in site.posts %}
      <article class="post-list">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="metas">
          <span class="date">le {{ post.date | date: "%d %b %Y" }}</span>
          <span class="author">par {{ post.author }}</span>
          <div class="tags">
            Mots-clefs :
          {% for tag in post.tags %}
            <span class="tag label">{{ tag }}</span>
          {% endfor %}
          </div>
        </div>
        <p class="excerpt">{{ post.excerpt }}</p>
      </article>
    {% endfor %}

  </section>


  

</div>
