<footer class="bg-inverse site-footer">

  <div class="container">

    <p class="text-center">{{ site.title }} - Cours et tutoriaux pour le développement web</p>

    <div class="col-md-6">
      <h3>Me suivre</h3>
      <ul>
        <li>RSS : <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Flux RSS</a></li>
        <li>Github :<a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
        <li>Twitter :<a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a></li>
      </ul>
      <h3>Me contacter</h3>
      <ul>
        <li><i class="icon-mail"></i> Courriel : <strong>jacksay[arobaze]jacksay[point]com</strong></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Liens inutiles</h3>
      <ul>
        <li>
          <a href="http://www.jacksay.com" title="Support de cours et tutoriels pour les développeurs web et intégrateurs web">
            Jacksay.com
          </a> : Site contenant quelques articles sur le développement web ainsi que les supports de cours complets de la <strong>formation Webdesigner du centre de formation Catherine Souami à Caen</strong>.
        </li>
      </ul>
    </div>
  </div>
  <p class="text-center mention">Copyright &copy; 2000-2015 Jacksay.com, Ne conviens pas aux enfants de moins de 18 mois, Ne pas avalez, fumer ou jeter sur la voie publique.</p>

</footer>
